<mat-card class="card-table">
    <table mat-table [dataSource]="eventos" matSort class="mat-elevation-z8">

        <!-- TITULO -->
        <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
            <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

        <!-- DESCRIÇÃO -->
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
        </ng-container>

        <!-- PREÇO UNITÁRIO -->
        <ng-container matColumnDef="precoUnitario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço Unitário </th>
            <td mat-cell *matCellDef="let element"> {{element.precoUnitario}} </td>
        </ng-container>

        <!-- QUANTIDADE DE VAGAS -->
        <ng-container matColumnDef="quantidadeDeVagas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Qtd de Vagas </th>
            <td mat-cell *matCellDef="let element"> {{element.quantidadeDeVagas}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>